<div class="job-container cf">
  <div class="thumbnail-col">
    <img class="thumbnail" src="http://placekitten.com/g/100/100" /></div>
  <div class="description-col">
    <a class="job-title"><%= job.title %></a>
    <div class="company-name"><%= job.company %></div>
    <div class="address">Toronto, Ontario</div>
  </div>
  <div class="misc-col">
    <div class="new">New- 18px</div>
    <div class="date">lorem.date</div>
  </div>
</div>
