<a class="previous">
  <span class="icon-arrow-left2"></span>
  PREVIOUS- 18px
</a>
<span class="numbered-page-links">
  <a>1</a>
  <a>2</a>
  <a>3</a>
  <span>...</span>
  <a class="last-page">55-14px</a>
</span>
<a class="next">
  NEXT
  <span class="icon-arrow-right2"></span>
</a>
