@import "bourbon/bourbon";
$max-width: em(1000);
@import "neat/neat";
@import "standard";
@import "global/variables";
@import "jobview";
@import "header";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

/* strange that clearfix is not in standard css*/
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/* need a box-sizing rule in standard css */
* {box-sizing: border-box;}

@mixin vertical-align {
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));
}

body {
  font-size: 14px;
  width: 100%;
  font-family: 'Source Sans Pro';
}

$grey-border: 1px solid #ccc;

%module-background {
  background: white;
}

%module-border {
  border: $grey-border;
}

@mixin link-hover{
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,.4) 50%);
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,.4) 50%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,.4) 50%);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,.4) 50%);
}

@mixin link-title{
  font-size:16px;
  font-family: Arial;
  cursor: pointer;
  color: $color-header;
  text-transform: none;
  font-weight:normal;
  text-decoration: none;
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(105,190,140,1) 50%);
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(105,190,40,1) 50%);
  background-image: -o-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(105,190,40,1) 50%);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(105,190,40,1) 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 15px
}

body {
  background: #e5e5e5;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

a {
  /*@include link-title();
  &:hover {@include link-hover()};*/
  font-size: 16px;
  text-decoration: none;
  color: #555;
  border-bottom: 1px solid $color-primary-darkgreen;
}

.filters-container, .search-results, .worko-box {
  background: white;
}

.worko-footer {
  height: 200px;
  width: 100%;
  background: $color-secondary-darkergreen;
  margin-top: 20px;
}

.page-header {
  text-align: left;
}

.container.cf {
  @include outer-container();
  /*@include pad();*/
}

.search-result-tools label{
  @include span-columns(4);
  margin-left: 34%;
  line-height: 2;
  padding: 10px;
  padding-right: 0;
  text-align: right;
  select {
    width: 30%;
    float: right;
    margin-left: 10px;
  }
}

.search-results-container {
  @include span-columns(8);
  margin-right: 20px;
  position: relative;

  .search-result-pagination {
    width: 100%;
    padding: 5px;
    background: $color-primary-darkgreen;
    & a, & span { color: white;}
    a {
      text-decoration: none;
      background: none;
      border: none;
    }
    .previous { 
      float: left;
      font-size: 18px;
    }
    .next { 
      float: right;
      font-size: 18px;
    }
    .numbered-page-links {
      margin-left: 13%;
      margin-top: 3px;
      display: inline-block;
    }
    &.page-bottom {
      border-top: $grey-border;
      background: white;
      & a, & span {color: $color-body;}
    }
  }

  .filters-container {
    @extend %module-border;
    .filters-wrapper { display: none}

    @include media(min-width 980px){
      @include span-columns(3 of 8);
      position: absolute;
      left: -35.26334%;
      .filters-wrapper { display: block}
    }

    header {
      font-size: 18px;
      font-weight: bold;
      padding: 10px 5px;
    }
    .filters-header-icon, .filter-section-icon {
      float: right;
      color: $color-grey;
    }
    .filter-section {
      border-top: $grey-border;
      // sets the filters to be closed by default
      ol, a {
        display: none;
      }
    }
    .filter-section header {
      border-left: 5px solid #aaa;
      padding: 10px 5px;
      font-size: 16px;
      &[data-filter-state="open"]{
        border-color: $color-secondary-darkergreen;
      }
    }
    .filter-items {
      list-style: none;
      padding: 0 10px;
      
      &.concise {
        li:nth-child(n+6){
          display: none;
        }
      }

      li {
        min-height: 27px;
        
        &:hover{
          [type="checkbox"]:not(:checked) + label:before,
          [type="checkbox"]:checked + label:before {
            border-color: #333;
          }
          label {
            text-decoration: underline;
          }
        }
      }

      /* Base for label styling */
      [type="checkbox"]:not(:checked),
      [type="checkbox"]:checked {
        position: absolute;
        left: -9999px;
      }
      [type="checkbox"]:not(:checked) + label,
      [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
      }

      /* checkbox aspect */
      [type="checkbox"]:not(:checked) + label:before,
      [type="checkbox"]:checked + label:before {
        content: '';
        position: absolute;
        left:0; top: 2px;
        width: 17px; height: 17px;
          border: 1px solid #bbb;
          background-color: #fff;
          display: inline-block;
      }
      /* checked mark aspect */
      [type="checkbox"]:not(:checked) + label:after,
      [type="checkbox"]:checked + label:after {
        content: '✔';
        position: absolute;
        top: 0; left: 4px;
        font-size: 14px;
        color: #777;
        transition: all .2s;
      }
      /* checked mark aspect changes */
      [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
      }
      [type="checkbox"]:checked + label:after {
        opacity: 1;
        transform: scale(1);
      }
      /* disabled checkbox */
      [type="checkbox"]:disabled:not(:checked) + label:before,
      [type="checkbox"]:disabled:checked + label:before {
        box-shadow: none;
        border-color: #bbb;
        background-color: #ddd;
      }
      [type="checkbox"]:disabled:checked + label:after {
        color: #999;
      }
      [type="checkbox"]:disabled + label {
        color: #aaa;
      }
      .filter-item-label {
        float: right;
        display: inline-block;
        padding-top: 3px;
        width: 85%;
        font-size: 12px;
      }
    }
    .expandFilterItems {
      float: right;
      margin-bottom: 10px;
      margin-right: 5px;
    }
  }

  .job-container {
    padding: 10px;
    border-top: 5px solid #e5e5e5;

    & > div {
      height: 85px;
    }
    .thumbnail-col {
      width: 20%;
      float: left;
      img {
        border: 1px solid #eee;
        @include vertical-align;
      }
    }
    .description-col {
      width: 80%;
      float: left;
      padding-top: 6px;
      font-size: 17px;

      .job-title {
        display: inline-block;
        margin-bottom: 5px;
        font-size: 19px;
        font-weight: 600;
        &.bold {
          font-weight: bold;
          color: #222;
          border-width: 2px;
        }
      }
      .date {
        border-left: 1px solid #ccc;
        padding-left: 10px;
        margin-left: 10px;
      }
    }
    .misc-col {
      float: right;
      position: relative;
      & * {
        @include vertical-align;
      }
      div {
        top: 3px;
        right: -10px;
        padding: 5px;
        width: 100px;
        color: white;
        position: absolute;
      }
      .new {
        background: $color-secondary-darkergreen; 
      }
      .featured {
        background: $color-secondary-darkblue;
      }
    }
  }

  .featured-jobs-container {
    background: #f7f7f7;
    header {
      padding: 5px;
      font-size: 21px;
    }
    border-bottom: 3px solid $color-secondary-darkblue;
  }
}

.right-sidebar-container {
  @include span-columns(4);

  .worko-box {
    margin-bottom: 20px;
    width: 300px;
    ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
  .job-alert-container {
    button {
      float: right;
      margin-top: 10px;
    }
  }
  .expandRelatedSearches {
    float: right;
  }
}
